<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Settings</h1>
</div>

<form (ngSubmit)="saveData(form)" #form="ngForm">
    <div class="form-group row">
        <label class="col-sm-4 col-md-4 col-form-label">Work Space ID</label>
         <div class="col-sm-8 col-md-8">
             <input class="form-control" placeholder="Work Space ID" type="text" name="workspace_id" [(ngModel)]="workspace_id" />
        </div>
    </div>

    <div class="form-group row">
        <label for="api_toke" class="col-sm-4 col-form-label">API Token</label>
        <div class="col-sm-8">
            <input class="form-control" placeholder="API Token" type="text" name="api_token" [(ngModel)]="api_token" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Save</button>

</form>
