<div class="container">
    <h1>Settings</h1>
    <div class="content">
        <form (ngSubmit)="saveData(form)" #form="ngForm" class="example-form">

            <mat-form-field class="form-full-width">
                <input matInput placeholder="Tags to compare" name="tags_list" [(ngModel)]="tags_list">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput placeholder="Work Space ID" name="workspace_id" [(ngModel)]="workspace_id">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput placeholder="API Token" name="api_token" [(ngModel)]="api_token">
            </mat-form-field>

            <span class="done">
              <button mat-fab>
                <mat-icon>check circle</mat-icon>
              </button>
            </span>

        </form>
    </div>
</div>
