<div class="container dashboard">
    <h1>Dashboard</h1>
    <div class="row">
        
        <div *ngIf="tags_ids" class="container-fluid">

            <!-- <ul *ngFor="let tag of tags_ids">
                <li>{{ tag.id }} / {{ tag.name }} / {{ tag.time }} </li>
            </ul> -->

            <div *ngIf="pieChartEnabled" id="pieChart">
                <canvas baseChart
                    height = 210
                    [options]="pieChartOptions"
                    [legend]="pieChartLegend"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            
            </div>

        </div>
    </div>
</div>


<!-- Botoncito al final de la pagina -->
<span class="done" >
    <button mat-fab (click)="getTagsIDs()">
        <mat-icon>update circle</mat-icon>
    </button>
</span>