<header>

    <mat-toolbar color="primary">
        
        <mat-icon routerLink="/dashboard">pie_chart</mat-icon>
        <span class="title" routerLink="/dashboard">Toggl Console</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="text-right">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <!-- https://material.io/tools/icons/?style=baseline -->
            <button mat-menu-item routerLink="/dashboard">
                <mat-icon>home</mat-icon>
                <span>Dashboard</span>
            </button>
        
            <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>

        </mat-menu>

    </mat-toolbar>

</header>




      