/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.mat-toolbar.mat-primary {

  background: #5c8bab;
  color: #fff;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.spacer {
  flex: 1 1 auto;
}


mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

header {
  margin-bottom: 1.2rem;
}

header .title {
  padding-left: 1rem;
 }

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

h1 {
    text-align: center;
    font-size: 1.4rem;
    color: #7d7d7d;
}

.content {
    color: #8f8f8f;
}




button:focus {
  outline: none;
  outline: none -webkit-focus-ring-color;
}

#pieChart{
  max-width: 100%;
  min-height: 300px;
}
